<table class="styled-table" id="sfg_meta">
  <thead>
  <tr>
    <th>Meta information</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>name</td>
    <td id="sfg_meta_name">adasdasdasdasdasd</td>
  </tr>
  <tr>
    <td>measured at</td>
    <td id="sfg_meta_date">01.01.2011</td>
  </tr>
  <tr>
    <td>measured by</td>
    <td>Florian-David Lange</td>
  </tr>
  <tr>
    <td>Substance</td>
    <td>DPPC</td>
  </tr>
  <tr>
    <td >max. VSFG</td>
    <td id="sfg_meta_sfg">6000</td>
  </tr>
  <tr>
    <td>max. IR intensity</td>
    <td  id="sfg_meta_ir">6000</td>
  </tr>
  <tr>
    <td>max. VIS intensity</td>
    <td id="sfg_meta_vis">6000</td>
  </tr>


  <!-- and so on... -->
  </tbody>
</table>